In [7]:
x = "30 years"
print("Ade is" + "", x)

Ade is 30 years

# PYHON ARITHEMETIC OPERATOR

In [8]:
#ADDITION
print(50+70)

120

In [9]:
ade = 83
israel = 70
christiana = 90

In [11]:
print(ade+israel+christiana)

243

In [15]:
x = "Yes"
y = "No"
z ="None"

In [20]:
print(x+y+z)#This is my students first headache

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2284992972.py, line 1)

In [21]:
yearofBirth= 1988
currentYear = 2024
age =currentYear-yearofBirth

In [28]:
print( age)

36

In [29]:
type(age)

int

In [30]:
print(5000-4000)

1000

# MULTIPLICATIVE OPERATOR

In [31]:
print(5.8*4)

23.2

In [32]:
R = 70.5
U = 60
print(R*U)

4230.0

In [33]:
type(R)

float

In [34]:
type(U)

int

In [37]:
print(500/4)

125.0

In [38]:
m =50
e = 2
print(m/e)

25.0

# PEDMAS 
# # p =PARENTESIS , E= EXPO, D = DIVISION, M= MALTIPLICATION, A= ADDITION, S= SUBTRACTION

In [40]:
#ODDER OF PRESCEDENTS
P = 1000
R = 30
T =6
I =((P*R*T)/100)+50

In [41]:
I

1850.0

In [42]:
print(11%2) #11 modulus 2

1

In [43]:
print(24%4)#24 modulus 4

0

In [44]:
print(11//2)# flood division

5

In [45]:
print(27//4)

6

In [46]:
print(27%4)

3

# exponentiation

In [48]:
x=3
print(x**2)# raise to power is given as **. e.g 4**3 means 4 raised to power 3

9