In [1]:
print("Logical Operators")

Logical Operators

In [2]:
a = True
b = False
print(a)

True

In [3]:
print(b)

False

In [4]:
print(a and b)

False

In [5]:
print(a or b)

True

In [7]:
print (not a)

False

In [8]:
print(not b)

True

# BITWISE OPERATOR

In [9]:
w = 13 #1101
t =5 # 101
print( w & t)

5

In [13]:
print("w & t:" ({bin(w & t)})")

SyntaxError: unterminated string literal (detected at line 1) (428280630.py, line 1)

# PYTHON STRING

In [16]:
#Strings are non numeric values in python programming
name = "Isreal"
print(name)

Isreal

In [17]:
print(name)

Isreal

# STRING SLISING

In [18]:
Greet ="Hello WOrld"
Greet[1]

'e'

In [19]:
Greet[-1]

'd'

In [20]:
Greet[2:4]

'll'

In [21]:
#list
e = [1,2,5,4,8,7]
print(2 in e)

True

In [23]:
print(9 not in e)

True

# string concatenation

In [31]:
a="HELLO"
b="Christiana"
c = a +  " "  +  b
print(c)

HELLO Christiana

In [36]:
q = "Israel"
r = "is 40 years old"
d = q+ " "+ r

In [37]:
d

'Israel is 40 years old'