# floor division

In [1]:
a = 5

In [2]:
a//2

2

# MODULUS OPERATOR

In [3]:
a%2

1

# Python Assignment Operators

In [ ]:
# The equal to sign 
word = "yes"
name = "israel"
age = 56
time = 12

In [ ]:
print(word)
print(name)
print(age)
print(time)

In [5]:
word

NameError: name 'word' is not defined

In [4]:
3*4

12

# increment assignment operator

In [6]:
x =90
x=x+10

In [7]:
print(x)

100

In [8]:
y =90
y+=10

In [9]:
print(y)

100

In [13]:
age = 16
age+=6 # This code is similar to age =age+6

In [11]:
print(age)

22

In [14]:
distance = 20
distance = distance +5

In [15]:
distance

25

In [27]:
disc = 60
disc+=10

In [19]:
disc

70

In [26]:
disc1= disc-5// THIS IS THE TRADITIONAL METGHOD
disc2-=6 // THIS IS THE MOST EFFICIENT METHOD

SyntaxError: invalid syntax (2069584252.py, line 1)

In [24]:
disc2

NameError: name 'disc2' is not defined

# EXPONENTIAL INCREAMENT

In [28]:
W = 3
W = W*3/TRADITIONAL WAY

In [29]:
W

9

In [30]:
Y = 3
Y*=3

In [31]:
Y

9

In [33]:
print(Y)

9

In [34]:
y =Y/2

In [35]:
y

4.5

In [40]:
Y/=2

In [41]:
y

2.25

In [42]:
t = 50
t/=5
print(t)

10.0

In [43]:
q = 80
q%=3

In [44]:
print(q)

2

In [45]:
x = 3
x = x&3

In [46]:
print(x)

3

In [47]:
x1 = 3
x1&=3

In [48]:
print(x1)

3

# Python Identity Operators

In [52]:
# (is)is a python identity operator and it returns True if both variables are the same object
y = 5
x = 4

In [53]:
print (y is x)

False

In [54]:
israelAge = 35
christianaAge = 30
print(israelAge==christianaAge)

False

In [55]:
print(israelAge>christianaAge)

True

In [56]:
print(israelAge<christianaAge)

False

# (Is not ) identity operator

In [57]:
shoesize =55
clothesize = 30
print(shoesize is not clothesize)

True

#  Python COMPARISON  Operator

In [60]:
"""Python Comparison Operators
Comparison operators are used to comparing two values:
Operator Name Example
== Equal x == y
!= Not equal x != y
> Greater than x > y
< Less than x < y
>= Greater than or equal to or equal to x >= y
<= Less than or equal to x <=y"""

'Python Comparison Operators\nComparison operators are used to comparing two values:\nOperator Name Example\n== Equal x == y\n!= Not equal x != y\n> Greater than x > y\n< Less than x < y\n>= Greater than or equal to or equal to x >= y\n<= Less than or equal to x <=y'

In [63]:
Israel = 40
print(Israel>=43)

False