In [4]:
"""Hello Everyone I am a python Programmercnvjnckljn 
vlcnvlcnvcnvcvnvlnvlnvlnvnvnvvncvvnddldldd;lddlldldll
dvnvvnvnvnnvif you wnat to know more about me, 
contact me thourh ipgsc.co"""

'Hello Everyone I am a python Programmercnvjnckljn \nvlcnvlcnvcnvcvnvlnvlnvlnvnvnvvncvvnddldldd;lddlldldll\ndvnvvnvnvnnvif you wnat to know more about me, \ncontact me thourh ipgsc.co'

In [5]:
Age = 40

In [7]:
print(Age)

40

# HOW TO CREATE VARIABLE

In [19]:
c = 40 # this is an inter value
y = "Ade" # this is a string value and a string values must be enclosed with a quotation mark els you will reciev error message
z = 3.5

In [11]:
print (c)
print(y)

40
Ade

In [12]:
My_favourite_Fruit = "Apple", "Orange", "Banana"

In [13]:
print(My_favourite_Fruit)

('Apple', 'Orange', 'Banana')

In [14]:
type(c)

int

In [15]:
print(type(c))

<class 'int'>

In [16]:
print(type(y))

<class 'str'>

In [20]:
print(type(z))

<class 'float'>

# Multi Words Variable Names

## CAMEL CASE

In [21]:
myFirstName = "Israel"#Each word, except the first, starts with a capital letter:

In [22]:
print(myFirstName)

Israel

In [23]:
branchInflow = 3000000

In [24]:
averageScore = 48
totalScore = 90
commulativeTotalScore = 130

# Pascal Case

In [25]:
AverageScore = 98 #Each word starts with a capital letter:
TotalScore = 100
CommulativeTotalScore = 150

In [27]:
print(averageScore)
print(AverageScore)

48
98

# Snake Case

In [28]:
average_score = 36  #Each word is separated by an underscore character

In [29]:
average_score

36

# Python Variables - Assign Multiple Values
# Many Values to Multiple Variables

In [30]:
Israel, Christiana, Ade ="Apple", "Water Mellon", "Pinapple"

In [31]:
print(Israel)
print(Christiana)
print(Ade)

Apple
Water Mellon
Pinapple

In [36]:
Israel1=Christiana1=Ade1="Banana"

In [37]:
print(Israel1)
print(Christiana1)
print(Ade1)

Banana
Banana
Banana